@model BlogProject.Models.Post
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <nav>
        <a href="/Home/Index">Home</a>
        <a href="/Blog/Index">View Blogs</a>
        <a href="/Home/Index/#about">content</a>
    </nav>
    <p>@Model.Title</p>
    <p>@Model.Author</p>
    <p>@Model.Body</p>
    
    @foreach (var tag in Model.PostTags)
        { 
            <p>#@tag.Tag.Name</p>
         }
    <p>@Model.PublishDate</p>
    <a href="/Post/Update/@Model.Id">Edit Post</a>
    <a href="/Post/Delete/@Model.Id">Delete Post</a>
    <a href="/Blog/Details/@Model.BlogId">Back to All Blog Posts</a>
</body>
</html>
