@model BlogProject.Models.Blog
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Posts</title>
    <link href="~/css/otherStyle.css" rel="stylesheet" />

</head>
<body>
    <h1>Posts</h1>
    <nav>
        <a href="/Home/Index">Home</a>
        <a href="/Blog/Index">View Blogs</a>
        <a href="/Home/Index/#about">content</a>
    </nav>
    <div>
        @foreach (var post in Model.Posts)
        {
        <article>
            <p>@post.Title</p>
            <p>@post.Author</p>
            <p>@post.PublishDate</p>
            <a href="/Post/Details/@post.Id">View Post</a>
        </article>
        }
    </div>
    <a href="/Post/CreateByBlogId/@Model.Id">Make A New Post</a>
</body>
</html>
