@model BlogProject.Models.Blog
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Posts</title>
</head>
<body>
    <h1>Posts</h1>

    @foreach(var post in Model.Posts)
    {
        <p>@post.Title</p>
        <p>@post.Author</p>
        <p>@post.Body</p>
        <p>@post.PublishDate</p>
    }
    <a href="/Post/CreateByBlogId/@Model.Id">Make A New Post</a>
</body>
</html>
