@model BlogProject.Models.Blog
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Posts</title>
</head>
<body>
    <p>hi my name is josh</p>
</body>
</html>
