@model IEnumerable<BlogProject.Models.Blog>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <nav>
        <a href="/Home/Index">Home</a>
        <a href="/Blog/Index">View Blogs</a>
        <a href="/Home/Index/#about">content</a>
    </nav>
    <p>Choose which posts to see:</p>
    <div>
        @foreach (var blog in Model)
        {
            <p>@blog.Name</p>
            <a href="/Blog/Details/@blog.Id">Posts</a>
        }

    </div>
</body>
</html>
