
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Choose which posts to see:</p>
    <a href="">Blog Category 1</a>
    <a href="#">Blog Category 2</a>
    <a href="#">Blog Category 3</a>
</body>
</html>
